header-directive
.punchline
    .text-container
        h1
            span.highlight-text(ng-repeat="word in introTitle",
            ng-mouseenter="$last && changeWord('bytes!', false)",
            ng-mouseleave="$last && changeWord('bits!', false)") {{word}}&nbsp;
        p
        p
        p A missão da Bitten Cookie é criar produtos tecnológicos integradores para que se tornem fantásticos para os seus utilizadores. A Bitten Cookie quer trabalhar com as melhores pessoas num ambiente fantástico e produtivo para oferecer ao mundo um leque de produtos de alta qualidade a todos os níveis, estando actualmente presente em duas áreas de negócio: Educação e Saúde.
section.team-section
    .team
        h1 Our team

        ul.list.list-authors
            li.list_item(ng-repeat="member in team")
                a.summary.summary-author.h-card.u-url
                    img.summary_image.u-photo(
                    src="/img/team/{{member.image}}",
                    alt="{{member.name}}")
                    span.summary_meta.p-name {{member.name}}
                    span.summary_meta.p-position {{member.position}}

.text-container
    h1
        a.highlight-text(ng-repeat="word in teamTitle",
        ng-href="#works",
        ng-mouseenter="$index == 4 && changeWord('bite?', true)",
        ng-mouseleave="$index == 4 && changeWord('byte?', true)") {{word}}&nbsp;
footer-directive